* {
    margin: 0;
    padding: 0;
  }

body {
    background-color: rgb(223, 223, 223);
}


/* NAV BAR */
header {
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 10px 0;
}

nav {
    margin: 0;
    width: 900px;
    /*  this centers it */
    margin: 0 auto;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
}

nav li{
    display: inline-block;
    width: 80px;
    margin: 0 20px;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    background-color: gray;
    border-radius: 5px;
}

a.disabled {
    color: gray;
}

a.disabled:hover {
    cursor: not-allowed;
    background-color: #333333;
}


/* MAIN */

main {
    position: relative;
    top: 40px;
    margin: 0 auto;
}

.jumbotron {
    height: 400px;
    background-image: url("https://content.codecademy.com/projects/broadway/bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;

}

.jumbotron h1,
.jumbotron p {
    color: #333;
    letter-spacing: .1em;

    font-family: 'Merriweather Sans', sans-serif;

}

.cheatsheet-title {
    padding: 10px 20px;
    background-color: #141319;
    letter-spacing: .1em;
    color: white;
    width: 300px;
    margin-bottom: 20px;
    box-shadow: 6px 6px 1px 1px rgba(0, 0, 0, .2);
    font-family: 'Merriweather Sans', sans-serif;
    text-align: start;

}





.container {
    max-width: 940px;
    margin: 0 auto 70px auto;
    padding: 20px 10px;
    text-align: center;
}

p.inline-block {
    display: inline-block;
    background-color: #09bede;
    color: white;
    padding: 20px;
    cursor: default;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 6px 6px 1px 1px rgba(0, 0, 0, .2);
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
}

.dotted-container {
    border: 5px dotted gray;
    border-style: dashed;
    padding: 10px;
    border-color: rgba(0,0,0,0.2);
    text-align: start;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.6);
}


.code-container {
    background-color: #141319;
    padding: 10px;
    margin-top: 20px;
    width: 400px;
    box-shadow: 3px 6px 1px 1px rgba(0, 0, 0, .2);
    display: inline-block;
}

.caption {
    color: rgb(195, 228, 252);
    font-family: 'Roboto Mono', monospace;

}

.caption p {
    margin: 0;
    padding: 5px;
    text-align: start;
}

.selector {
    color: rgb(250, 210, 91)
}

.brackets {
    color: rgb(163, 251, 251)
}

.value {
    color: rgb(168, 185, 197)
}

.caption-container {
    display: inline-block;
    width: 400px;
    color: lightgreen;
    padding: 10px;
    background-color: #141319;
    box-shadow: 6px 6px 1px 1px rgba(0, 0, 0, .2);
    font-family: 'Roboto Sans', sans-serif;
    margin-left: 20px;
    margin-top: 20px;
    vertical-align: top;
}

p.inline {
    color: black;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
}

span.inline {
    color: rgb(251, 113, 113);
}

.int-val {
    color: rgb(218, 139, 90);
}

.block {
    background-color: #09bede;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 6px 6px 1px 1px rgba(0, 0, 0, .2);
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;

}

/* DESIGN PAGE */


/* DESIGN: COLORS */

.color-block-black {
    background-color: #000000;
    color: white;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0 20px;
    box-shadow: 6px 6px 1px 1px rgba(0, 0, 0, .2);

}

div[class^="color-block-"] p.color {
    top: 50px;
    left: 25px;
    position: relative;
    font-family: 'Merriweather Sans', sans-serif;
}

div[class^="color-block-"] p.code{
    top: 90px;
    left: 50px;
    position: relative;
    color: black;
    width: 80px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    background-color:rgba(255, 255, 255, 0.506);
    box-shadow: 6px 6px 1px 1px rgba(0, 0, 0, .5);
}



.color-block-blue {
    background-color: #14213D;
    color: white;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0 10px;
    box-shadow: 6px 6px 1px 1px rgba(0, 0, 0, .2);

}

.color-block-orange {
    background-color: #FCA311;
    color: black;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0 10px;
    box-shadow: 6px 6px 1px 1px rgba(0, 0, 0, .2);

}

.color-block-platinum {
    background-color: #E5E5E5;
    color: black;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0 10px;
    box-shadow: 6px 6px 1px 1px rgba(0, 0, 0, .2);

}

.color-block-white {
    background-color: #ffffff;
    color: black;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0 10px;
    box-shadow: 6px 6px 1px 1px rgba(0, 0, 0, .2);

}

/* DESIGN: FONTS */

.font-abril h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    color: #14213D;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

.font-abril p {
    font-size: 16px;
    color: #14213D;
    text-align: center;
    margin: 0;
    padding-top: 10px;
    font-family: 'Abril Fatface', cursive;
}


.font-merriweather h2 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 40px;
    color: #14213D;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

.font-merriweather p {
    font-size: 14px;
    color: #14213D;
    text-align: center;
    margin: 0;
    padding-top: 10px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
}

.font-roboto h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    color: #14213D;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

.font-roboto p {
    font-size: 14px;
    color: #14213D;
    text-align: center;
    margin: 0;
    padding-top: 10px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

.code-container-fixed {
    position: relative;
    top: -140px;
    left: 925px;
    width: 200px;
    background-color: #FCA311;
    opacity: 0.9;
    box-shadow: 6px 6px 1px 1px rgba(0, 0, 0, .3);
    padding: 10px;
    text-align: start;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: .1em;
    margin: 0;
}


/* DESIGN: TEXT STYLES */

.cheatsheet-title-centered {
    padding: 10px 20px;
    position: relative;
    left: 250px;
    background-color: #141319;
    letter-spacing: .1em;
    color: white;
    width: 300px;
    box-shadow: 6px 6px 1px 1px rgba(0, 0, 0, .2);
    font-family: 'Merriweather Sans', sans-serif;
    text-align: start;
    margin-bottom: 20px;
}








